body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div a{
    background-color: rgb(233, 23, 23);
    color: #fff;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 150px;
    text-decoration: none;
}

div i{
    padding-right: 0.4rem;
    padding-left: 0.8rem;
}